*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body{
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}


.main{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background:url('images/back-img.png');
    background-size: cover;
    background-position:center ;
    position: relative;
    
}


header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 1000; 
    transition:  0.3s ease; 
}



.header-bg {
    background-color:#202020; /* Specify your background color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a box shadow for styling */
}

.logo{
    margin-left: 20px;
    margin-top: 10px;
}

.logo img{
    width: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}



nav .hamb{
    width: 35px;
    
    right: 3%;
    
    z-index: 5;
    background: transparent;
    position: absolute;
    cursor: pointer;
    display: none;
}

nav .hamb span{
    display: block;
    background-color: #1caba4;
    width: 100%;
    height: 3px;
    transition: .3s;
}

nav .hamb span:nth-child(2){
    margin: 7px 0px;
}

nav .nav-list{
    list-style: none;
    margin-right: 30px;
}

nav .nav-list li{
    display: inline-block;
}

nav .nav-list li a{
    display: inline-block;
    color:#eee;
    margin-left: 55px;
    font-size: 15px;
    font-weight: 600;
}

nav .nav-list li a:hover{
    color:#1caba4 ;
}

nav .nav-list li a:not(:last-child) a:hover{
    color:#1caba4 ;
    transition: .4s;
}

nav .nav-list li.btn a{
    display: inline-block;
    background: transparent;
    border: 2px solid #1caba4;
    padding: 9px 28px;
    border-radius: 30px;
    line-height: 1.3;
    color:#1caba4 ;
    font-weight: 500;
}

nav .nav-list li.btn:hover a{
    background-color: #1caba4;
    color: white;
    border: 2px solid transparent;
    transition: .4s;
}

.container{
    padding-top: 190px ;
    padding-bottom: 50px;
}


.container .main-text{
    padding: 100px;
}



.container .main-text h1{
    color: white;
    font-size: 47px;
    font-weight: 900;
    line-height: 1.2;
    margin: 20px 0px 20px;
}

.main-text span{
    color: #1caba4;
}

.container {
    position: relative;
}

.main-text {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s cubic-bezier(0.4, 0, 0.2, 1), transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

.main-text.loaded {
    opacity: 1;
    transform: translateY(0);
}

.container .main-text h3{
    color: #eee;
    font-weight: 400;
    font-size: 17px;
}

.container .main-text p{
    width: 440px;
    max-width: 100%;
    color: #eee;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.social a{
    width: 37px;
    height: 37px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    color: #eee;
    cursor: pointer;
    margin-right: 20px;
    background-color: rgb(255, 255, 255,0.1);
    margin-bottom: 35px;
}

.social a:hover{
    transform: scale(1.1);
    background:#1caba4 ;
    transition: .4s;
}

.container .main-text button{
    color: #eee;
    background: #1caba4;
    font-style: 16px;
    font-weight: 500;
    line-height: 24px;
    padding: 8px 30px;
    border: 2px solid #1caba4;
    border-radius: 30px;
    cursor: pointer;
}

.container .main-text button:hover{
    background: transparent;
    border: 2px solid #1caba4;
    color: #1caba4;
    transition: .4s;
}

#about{
    padding: 80px 0;
    background-color: #2a2a2a;

}

.row{
    
    text-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}



.about-col1 img{
    width: 50%;
    border-radius: 15px;
    margin:10% 25%;
}

.about-col2{
    
    padding: 30px;
    color: white;
    text-align: justify;
}

.sub-title{
    font-size: 30px;
}

.about-col2{
}

.about-col2 .main-des{
    padding: 20px;
    border-bottom: 1px solid #979595;
    color: #979595;

}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
   font-weight: bold;
    cursor: pointer;
    position: relative;
}



.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #1caba4;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: .5s;
}

.tab-links.active-link::after{
    width: 100%;
}

.duration{
    font-size: 12px;
    color: #ddd;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span.row1{
    color: #199b95;
    font-style: 14px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

.skills{
    padding-top: 20px;
    background:linear-gradient(rgba(0,0,0),rgba(0,0,0,0.5));
}

.header{
    text-align: center;
    color: #fff;
    padding: 1rem;
    position: relative;

}

.header h1{
    margin-top: 40px;
}

.skill-container{
   

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    font-size: 1.2rem;
}

.skill-box{
    padding: 1rem;
    color: #ddd;
    cursor: pointer;
    transition: .3s;
}

.skill-box:hover{
    transform: scale(1.1);
}

.skill-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
}


.img{
    width: 90px;
    height: 90px;
    position: relative;
    border-radius: 45px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 90px;
    background: rgba(100, 100, 100,0.3);
    border-radius: 45px 0 0 45px;
}

.skill-title h3{
    color: #fff;
    margin: 0.5rem;
    font-size: 14px;
}

.skill-title p{
    font-size: 14px;
}

.skill-icon{
    width: 70%;
    z-index: 2;
}

.projects{
    background-color: rgb(17, 17, 17);
    padding-bottom: 50px;
}

.projects h2{
    padding-top: 30px;
    text-align: center;
    color: #ddd;
}

.project-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    align-items: center;
    text-align: center;
    gap: 2rem;
    margin-top: 5rem;
}

.project-row{
    padding: 25px;
    margin: 10px;
    height: 100%;
    background:#202020;
    border-radius: 0.5rem;
    transition: all .40s ease;
    object-fit: cover;
    border:2px solid #1caba4;
}

.project-row:hover{
    transform: scale(1.01) translateY(-5px);
    cursor: pointer;
}


.project-row h3 {
    color:#ddd;
}

.project-row h6{
    color: #1caba4;
}

.project-row img{
    
    width: 90%;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
}

.contact {
    padding: 20px 50px ;
    background: #202020;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.contact-text h4 {
    color: #fff;
    margin: 18px 0;
    font-size: 20px;
    font-weight: 600;
}

.contact-text h2 {
    font-size: 2rem;
    line-height: 1;
    color: #1caba4;
}

.contact-text p {
    color: #ccc;
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 30px;
}

.list {
    margin-bottom: 2.8rem;

}

.list li {
    margin-bottom: 12px;
    list-style: none;

}

.list li a {
    display: block;
    color: #ccc;
    font-size: 14px;
    transition: all .45s ease;
    
}

.list li a:hover {
    color: #fff;
    transform: translateY(5px);

}

.contact-icons i {
    height: 45px;
    width: 45px;
    color: #fff;
    font-size: 22px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-right: 15px;
    transition: all .45s ease;
}

.contact-icons i:hover {
    color: #1caba4;
}

.contact-form form {
    position: relative;
}

.contact-form form input,
form textarea {
    width: 100%;
    padding: 14px;
    background: #2a2a2a;
    color: #fff;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.contact-form textarea {
    resize: none;
    height: 240px;
}

.contact-form .submit {
    display: inline-block;
    font-size: 16px;
    color: #fff;
    width: 160px;
    border-radius: 30px;
    transition: all .45s ease;
    border: 2px solid #1caba4;
    border-radius: 30px;
    line-height: 1.3;
    color:#1caba4;
    font-weight: 500;
}

.contact-form .submit:hover {
    background-color: #1caba4;
    color: white;
    border: 2px solid transparent;
    transition: .4s;
    cursor: pointer;
}

@media screen and (max-width:930px){
    nav .hamb{
        display: initial;
    }
    .click{
        top: 46px;
    }
    .click span{
        position: absolute;
        margin-top: 12px;
    }
    .click span:first-child{
        transform: rotate(-40deg);
    }
    .click span:nth-child(2){
        opacity: 0;
        margin: 0;
        
    }
    .click span:last-child{
        transform: rotate(40deg);
        top: 0;
    }
    nav .nav-list{
        position: absolute;
       
        right: -65%;
       padding: 10% 4%;
        width: 60%;
        background: black;
        z-index: 2;
        transition: .3s right;
        border-radius: 10px;
    }
    nav .nav-list li{
        display: block;
    }
    nav .nav-list li a{
        display: block;
        text-align: center;
        font-style: 18px;
        font-weight: 400;
        margin-left: 0;
        margin-bottom: 40px;
    }
    nav .nav-list li.btn a{
        position: absolute;
        right: 20%;
        left:20% ;
        font-size: 14px;
    }
    nav .nav-list.open{
        right: 0;
    }

    .main{
        
        background-size: cover;
        background-position:center ;
        background:linear-gradient(rgba(0,0,0),rgba(0,0,0,0.5));

        
    }
    .main-text{
        margin-left: 60px;
    }
}

@media screen and (max-width: 990px){
    .skill-container{
        grid-template-columns: repeat(2,1fr);
        padding: 2rem 50px;
    }
}


@media screen and (max-width: 990px){
    .contact {
        
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
    }
   
      
    .row{
    
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

#msg{
    color: #199b95;
}

.bottom-bar p{
    text-align: center;
    color: #c9c5c5;
    background-color:#202020;
    padding-bottom: 10px;
    background-color: #2a2a2a;
}

